@import "../../variables";

.header {
  width: 100%;
  border-bottom: 2px solid $border-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 7.5% 20px 7.5%;
  gap: 20px;

  .banner {
    border-radius: 10px;
    background-size: cover;
    background-position: 69%;
    @media (max-width: 576px) {
      aspect-ratio: 16/4;
    }
    aspect-ratio: 16/2.5;
    width: 100%;
  }

  .channelInfo {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    @media (max-width: 576px) {
      flex-direction: column;
    }
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }
    .textInfo {
      color: $text-color;
      display: flex;
      flex-direction: column;
      justify-content: center;  
      gap: 10px;

      .channelName {
        font-size: 1.1rem;
      }
      .countableInfo {
        color: darkgray;
        display: flex;
        gap: 10px;
        white-space: nowrap;
      }
      .description {
        p {
          color: white;
          font-size: 16px;
          white-space: pre-line;
          &.notSpreaded {
            max-height: calc(4 * 1.1rem);
            overflow: hidden;
          }
        }
        span {
          cursor: pointer;
          font-size: 14px;
          font-weight: bolder;
          color: gray;
          &:hover {
            text-decoration: underline;
            color: lightgray;
          }
        }
      }
    }
  }
}
