@import "../../variables";

.titleDiv {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  .titleText {
    font-size: 35px;
    color: $text-color;
  }
}

.channelCardGrid {
  width: 100%;
   
}
