@import "../../../variables";

.NotificationBlock {
  position: fixed;
  bottom: -400px;
  left: 0;
  margin: 20px;
  background: white;
  padding: 15px;
  border: 2px solid $primary-color;
  font-family: inherit;
  color: $primary-color;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 8px;
  z-index: 1000;
  &.error{
    color: $error-color;
    border: 2px solid $error-color;
  }
  &.active {
    bottom: 0; 
  }
  transition: bottom 250ms ease;
}
