@import "../../../variables";

.container {
  position: absolute;
  border-radius: 6px;
  top: 38px;
  display: none;
  width: 100%;
  &.opened {
    display: flex;
    flex-direction: column;
  }
}

.suggestion {
  display: flex;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  background: $secondary-color;
  font-size: 1.2rem;
  color: $primary-color;
  align-items: center;
  overflow: hidden;
  &:hover {
    background: $secondary-hovered;
  }
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
