.watchVideo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  .side {
    flex: 0.3;
    @media (max-width: 1025px) {
      width: 100%;
    }
  }

  @media (max-width: 1025px) {
    flex-direction: column;
  }
}

