@import "../../../variables";

.cbutton { 
  outline: none;
  border: none;
  min-height: 30px;
  min-width: 70px;
  padding: 10px;
  text-align: center;
  background: $primary-color;
  color: $text-color;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}

.primary {
  background: $primary-color;
  &:hover{
    cursor: pointer;
    background: $primary-hovered;
  }
  &:active{
    background: #25286e;
  }
}

.secondary {
  background: $secondary-color; 

  &:hover{
    cursor: pointer;
    background: $secondary-hovered;
  }

  &:active{
    background: #25286e;
  }
}


