$background-color: #030014;
$primary-color: #6002ee;
$primary-hovered: #4b02b8;
$secondary-color: #00022F;
$secondary-hovered: #101247;
$text-color: #fef9ec;
$border-color: #1D1A2C;
$bright-plain-color: #3e3a4f;
