$background-color: #030014;
$primary-color: #6002ee;
$primary-hovered: #4b02b8;
$primary-pressed: #3c0391;
$secondary-color: #00022f;
$secondary-hovered: #101247;
$text-color: #fef9ec;
$border-color: #1d1a2c;
$bright-plain-color: #3e3a4f;
$pressed-plain-color: #4f4a63;
$error-color: #dc3545;
$delete-color: #8B0000;
$delete-hovered: #a10303;
$blue-color: #24a0ed;
$blue-hovered: #217cb5;
$blue-clicked: #0d5380;

