@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: $background-color;
  font-family: "Roboto Thin", sans-serif;
  height: 100vh;
  overflow: auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: $border-color 2px solid;
  height: 60px;
  background: $background-color;
  z-index: 3;

  .navbar {
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__center {
      flex: 1;
      display: flex;
      justify-content: center;
      @media (max-width: 576px) {
        justify-content: flex-end;
      }

      .search__bar {
        @media (max-width: 992px) {
          width: 55%;
          max-width: none;
          resize: horizontal;
        }

        img {
          user-select: none;
          height: 15px;
        }

        min-height: 33px;
        width: 100%;
        background: $secondary-color;
        display: flex;
        padding: 0 8px;
        border: $primary-color 3px solid;
        border-radius: 6px;
        align-items: center;

        input {
          background: transparent;
          color: $primary-color;
          margin-left: 10px;
          height: 100%;
          width: 100%;
          flex: 1;
          border: none;
          outline: none;
          font-size: 20px;
          font-weight: normal;

          &::selection {
            font-size: 20px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            animation: caret-blink 1s infinite;
          }

          &:hover {
            cursor: text;
          }
        }
      }
    }

    .search__smartphone {
      img {
        user-select: none;
        height: 15px;
      }

      .input-active {
        box-shadow: 0 0 6px $primary-color;
      }

      margin-left: 6px;
      min-height: 33px;
      flex: 1;
      display: flex;
      padding: 0 8px;
      border: $primary-color 3px solid;
      border-radius: 10px;
      align-items: center;

      input {
        background: transparent;
        color: $primary-color;
        margin-left: 10px;
        height: 100%;
        width: 100%;
        flex: 1;
        border: none;
        outline: none;
        font-size: 20px;
        font-weight: normal;

        &::selection {
          font-size: 20px;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          animation: caret-blink 1s infinite;
        }

        &:hover {
          cursor: text;
        }
      }
    }

    .btns {
      display: flex;
      width: 146px;
      gap: 6px;
      justify-content: flex-end;

      @media (max-width: 576px) {
        width: auto;
      }
    }

    &__menu {
      display: flex;
      gap: 3px;
      height: 100%;
      align-items: center;

      span {
        color: $text-color;
        font-size: 25px;
        font-weight: bolder;
      }
    }
  }
}

.main {
  max-width: 1920px;
  width: 90%;
  margin: 30px auto;

  .login__content {
    display: flex;
    justify-content: center;
    .form {
      width: 500px;
      border-radius: 10px;
      background: #00021c;
      padding: 25px 20px 50px 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;

      &__name {
        color: $text-color;
      }
    }
  }
  .content__block {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .video {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      background: $border-color;
    }

    &:active {
      background: $bright-plain-color;
    }

    &__thumbnail {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      border-radius: 10px;
      user-select: none;
    }

    &__name {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      // .avatar {
      //   width: 35px;
      //   height: 35px;
      //   object-fit: cover;
      //   border-radius: 50%;
      //   user-select: none;
      // }

      div {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
        span {
          display: inline-block;
          color: $text-color;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .title {
          font-weight: bolder;
          font-size: 16px;
          cursor: pointer;
          &:hover {
            color: $primary-color;
          }
        }
        .channel__name {
          font-size: 12px;
        }
      }
    }
  }
}

@keyframes caret-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}
// .input-focus{
//   box-shadow: 0 0 13px $primary-color;
// }

.active {
  box-shadow: 0 0 6px $primary-color;
}

.search__container {
  @media (max-width: 992px) {
    width: 55%;
    max-width: none;
    resize: horizontal;
  }
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 6px 0 60px;
  height: auto;
}
