@import "../../../variables";
.iconButton {
  box-sizing: border-box;
  background-color: transparent; 
  min-height: 35px;
  border: none;
  display: flex;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  img {
    user-select: none;
    height: 20px;
  }
  width: 35px;
  &:hover{
    cursor: pointer;
    background-color: $border-color;
  }
  &:active{
    background-color: $bright-plain-color;
  }
}
